#!/usr/bin/make -f
DEST=`pwd`/debian/tmp/opt/wyrd

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	#$(MAKE)

	gem install bundler

clean:
	dh_testdir
	dh_testroot

	# Add here commands to clean up after the build process.
	#$(MAKE) clean
	#$(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	bundle install --deployment --without="development test"
	mkdir -p $(DEST)/bin
	mkdir -p $(DEST)/speak

	cp google_api.key $(DEST)
	cp speak/greetings.yml $(DEST)/speak/
	cp Gemfile* $(DEST)
	cp bin/bot.rb $(DEST)/bin/bot.rb
	cp -r .bundle* $(DEST)
	cp -r lib $(DEST)/
	cp -r vendor $(DEST)/


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
#	dh_installdocs
#	dh_installexamples
	dh_install
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installcatalogs
#	dh_installpam
#	dh_installmime
	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installwm
#	dh_installudev
#	dh_lintian
#	dh_bugfiles
#	dh_undocumented
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
